@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Lato&display=swap');

@import url(imgs/Minecraft.ttf);


body {
    width: 900px;
    background-image: url(imgs/background.gif);
    margin: auto auto;
}

h2 {
    text-align: center;
    font-family: Lato;
    color: #ff00ff;
}

h3 {
    text-align: left;
    font-family: Minecraft;
    text-indent: 4em;
    color: #ff0000;
}

body div {
    margin-top: 20px;
}